<!--<form action="">-->
    <!--<input type="text" name="name" #name placeholder="customer name" />
    <input type="text" name="customer" #customer placeholder="company name" />
    <input type="text" name="address" #address placeholder="address" />
    <input type="text" name="phone" #phone placeholder="phone" />
    <input type="text" name="mobile" #mobile placeholder="mobile" />
    <input type="text" name="stx" #stx placeholder="sales tax #" />
    <input type="text" name="ntn" #ntn placeholder="ntn #" />
    <input type="button" name="submit" value="submit" (click)="add(name, customer, address, phone, mobile, stx, ntn);"/>-->
<!--</form>-->